---
layout: page
title: ニュース
permalink: /categories/
main: true
---

{% for category in site.categories %}
  <div class="page-content">
    <h2>{{ category[0] | capitalize }}</h2>
    {% assign pages_list = category[1] %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if group == null or group == node.group %}
          <a href="{{ node.url | prepend: site.baseurl | prepend: site.url }}">
            ({{ node.date | date: "%B %d, %Y" }})
            {{node.title}}
          </a>
          <br>
        {% endif %}
      {% endif %}
    {% endfor %}
    {% assign pages_list = nil %}
  </div>
{% endfor %}
