---
layout: default
---
<a><img class="site-masthead" src="{{ "/assets/top.jpg" | relative_url }}" alt="top" /></a>

<h2>About Us</h2>
<br>
<p>　本研究室では，「言語とは一体なんなのか」という問いを，計算論的な観点から考える研究を行っています．この問いに答えるためには，言語の定義を明確にする必要がありますが，人間以外の動物が以前考えられていたよりも複雑なコミュニケーションをしていることが明らかになってきたこともあり，近年では十分に合意された言語の定義は無い状況です．

<br>
　我々は，「マルチエージェント強化学習」の枠組みを用いて，機械学習を搭載したエージェント群がコミュニケーションをゼロから獲得していくシステムを作ってみて，そのコミュニケーションが言語らしくなる条件やメカニズムを分析するという構成論的なアプローチで研究を進めています．本研究室では，上記の問いに迫るための方法論の研究として，協調や規範などの定着を促進するマルチエージェント学習手法の研究や，AIの内部機序を解釈する手法の研究にも取り組んでいます．
<br>
  （当研究室は，2026年4月に名称を「機械学習・言語理解研究室」から「マルチエージェント学習・言語理解研究室」に変更しました．）
<br>
<a href="https://tzkwkblab.github.io/wkblab/about/">
<button style="width: 10em; height: 3em;">Read more</button>
</a>

<br>
<br>
<br>

<h2>NEWS</h2>

<div class="page-content">
  {% for post in paginator.posts %}
    (
      {% assign d = post.date | date: "%d" | plus:'0' %}
      {{ post.date | date: "%B" }}
      {% case d %}
      {% when 1 or 21 or 31 %}{{ d }}st,
      {% when 2 or 22 %}{{ d }}nd,
      {% when 3 or 23 %}{{ d }}rd,
      {% else %}{{ d }}th,
      {% endcase %}
      {{ post.date | date: "%Y" }}
    )
    <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a>
    <br>
  {% endfor %}
</div>

<div class="page-content">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="{{ site.baseurl | prepend: site.url}}">&larr; Newer</a>
    {% else %}
      <a href="{{ site.url }}/wkblab/page/{{paginator.previous_page}}">&larr; Newer</a>
    {% endif %}
  {% else %}
    <a>&larr; Newer</a>
  {% endif %}

  Page {{ paginator.page }} / {{ paginator.total_pages }}

  {% if paginator.next_page %}
  <a href="{{ site.url }}/wkblab/page/{{paginator.next_page}}">Older &rarr;</a>
  {% else %}
  <a>Older &rarr;</a>
  {% endif %}
</div>
