---
layout: default
---
<a><img class="site-masthead" src="{{ "/assets/top.jpg" | relative_url }}" alt="top" /></a>

<h2>About Us</h2>
<br>
<p>　本研究室が明らかにしようとしている問いは，「言語を理解するとはどういうことか」です．この問いに答えるためには，「言語の定義」を明確にする必要がありますが，人間以外の動物が以前考えられていたよりも複雑なコミュニケーションをしていることが明らかになってきたこともあり，近年では十分に合意された「言語の定義」は無い状況です．「言語の定義」が定まっていない以上，我々は「言語を理解するとはどういうことか」という問いの意味自体が，まだ明確になっていないと考えています．</br>
<br>
　我々は，機械学習の計算機シミュレーションによって，人間以外の動物のコミュニケーションの方式から，今ある人間の言語（と同等の機能を持つと認められるコミュニケーション方式）に進化するまでの，失われた段階を構成論的に解明することを狙って研究を進めています．比較的単純な動物のコミュニケーションシグナルを理解するということがどういうことかは，動物行動学的に説明することが比較的容易です．ですから，そこから人間の言語に進化していく段階にある失われたコミュニケーション方式を構成論的に示し，それを理解することがどういうことかを検討していくことによって，「今ある言語」を理解するとはどういうことかという問いを明確にしながら接近できるのではないかと考えます．</p>

<br>

<a href="https://tzkwkblab.github.io/wkblab/about/">
<button style="width: 10em; height: 3em;">Read more</button>
</a>

<br>
<br>
<br>

<h2>NEWS</h2>

<div class="page-content">
  {% for post in paginator.posts %}
    (
      {% assign d = post.date | date: "%d" | plus:'0' %}
      {{ post.date | date: "%B" }}
      {% case d %}
      {% when 1 or 21 or 31 %}{{ d }}st,
      {% when 2 or 22 %}{{ d }}nd,
      {% when 3 or 23 %}{{ d }}rd,
      {% else %}{{ d }}th,
      {% endcase %}
      {{ post.date | date: "%Y" }}
    )
    <a href="{{ post.url | prepend: site.baseurl | prepend: site.url }}">{{ post.title }}</a>
    <br>
  {% endfor %}
</div>

<div class="page-content">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="{{ site.baseurl | prepend: site.url}}">&larr; Newer</a>
    {% else %}
      <a href="{{ site.url }}/wkblab/page/{{paginator.previous_page}}">&larr; Newer</a>
    {% endif %}
  {% else %}
    <a>&larr; Newer</a>
  {% endif %}

  Page {{ paginator.page }} / {{ paginator.total_pages }}

  {% if paginator.next_page %}
  <a href="{{ site.url }}/wkblab/page/{{paginator.next_page}}">Older &rarr;</a>
  {% else %}
  <a>Older &rarr;</a>
  {% endif %}
</div>
