---
layout: default
---
<div class="post">
  <header>
    <h5 class="subheader">
      {% assign d = page.date | date: "%d" | plus:'0' %}
      {{ page.date | date: "%B" }}
      {% case d %}
      {% when 1 or 21 or 31 %}{{ d }}st,
      {% when 2 or 22 %}{{ d }}nd,
      {% when 3 or 23 %}{{ d }}rd,
      {% else %}{{ d }}th,
      {% endcase %}
      {{ page.date | date: "%Y" }}
    </h5>
    <h1>{{ page.title }}</h1>
    <!-- Categories -->
    <div class="categories">
      {% unless page.categories == empty %}
        Posted in:
        <ul class="categories-list">
          {% assign categories_list = page.categories %}
          {% if categories_list.first[0] == null %}
            {% for category in categories_list %}
              <li>
                <a href="{{ site.BASE_PATH }}/{{ site.categories_path }}#{{ category }}-ref">
                  {{ category | join: "/" }}{% unless forloop.last %},{% endunless %}
                </a>
              </li>
            {% endfor %}
          {% else %}
            {% for category in categories_list %}
              <li><a href="{{ site.BASE_PATH }}/{{ site.categories_path }}#{{ category[0] }}-ref">
                {{ category[0] | join: "/" }}
              </a></li>
            {% endfor %}
          {% endif %}
        </ul>
      {% endunless %}
    </div>
  </header>
  <article>
    {{ content }}
  </article>

  <div class="tags">
    {% unless page.tags == empty %}
      Tagged with:
      <ul class="list-inline">
        {% assign tags_list = page.tags %}
        {% if tags_list.first[0] == null %}
        {% for tag in tags_list %}
          <li>
            <a href="{{ site.BASE_PATH }}/{{ site.tags_path }}#{{ tag }}-ref">
            {{ tag }}{% unless forloop.last %},{% endunless %}
            </a>
          </li>
        {% endfor %}
        {% else %}
        {% for tag in tags_list %}
          <li>
            <a href="{{ site.BASE_PATH }}/{{ site.tags_path }}#{{ tag[0] }}-ref">
              {{ tag[0] }}{% unless forloop.last %},{% endunless %}
            </a>
          </li>

        {% endfor %}
        {% endif %}
        {% assign tags_list = nil %}
      </ul>
    {% endunless %}
  </div>

  <div class="mdl-grid pagination">
    <div class="mdl-cell mdl-cell--6-col previous">
      {% if page.previous %}
        <a class="mdl-button mdl-button--primary" href="{{ page.previous.url }}" title="{{page.previous.title}}">&larr; Previous Post</a>
      {% else %}
        <a class="mdl-button mdl-button--primary" disabled>&larr; Previous Post</a>
      {% endif %}
    </div>

    <div class="mdl-cell mdl-cell--6-col next">
      {% if page.next %}
        <a class="mdl-button mdl-button--primary" href="{{ page.next.url }}" title="{{page.next.title}}">Next Post &rarr;</a>
      {% else %}
        <a class="mdl-button mdl-button--primary" disabled>Next Post &rarr;</a>
      {% endif %}
    </div>
  </div>
</div>
